@import "./Components/WeaponBuilder.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background: gray;
  border-radius: 6px;
}

/* button {
  border: 2px solid black;
  box-shadow: 2px 2px gray;
}

button:disabled {
  color: gray
} */