@import "./Components/WeaponBuilder.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(15 23 42);
  background-attachment: fixed;
  background-position: center center;
}

button {
  background: gray;
  border-radius: 6px;
  padding: 2px
}

input[type="number"] {
  border: 5px
}

/* .select-search__input {
  height: 28px;
} */

/* button {
  border: 2px solid black;
  box-shadow: 2px 2px gray;
}

button:disabled {
  color: gray
} */